/.env.local
/.env.local.php
/.env.*.local
.env
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/public/image/music/*/**
/public/image/user/*/**
/var/
/vendor/
/migrations
.idea/
/upload/*/**